* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  position: relative;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100px;
}

.container {
  width: 90%;
  min-height: 400px;
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.container .cart-container {
  width: 75%;
  position: relative;
  border-top: 1px red solid;
  display: flex;
  flex-direction: column;
}

.shopping-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  margin-top: 60px;
}
.items-row {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.col-box {
  width: 30%;
  height: 100%;
  position: relative;
  border-radius: 6px;
  border: 1px solid red;
  margin-bottom: 10px;
}

.col-box button {
  position: absolute;
  top: 160px;
  left: 90px;
  width: 100px;
  padding: 8px;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid tomato;
}

.col-box button:hover{
  color: whitesmoke;
  background-color: tomato;
  transition: color 0.5ms ease-in-out;
}

/* .col-box button::after {
  content: attr(data-hover-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  color: white;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
} */
.col-box img {
  width: 100%;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
}

.col-box .title{
  margin-top: 10px;
  padding: 10px 6px;
  font-size: 12px;

}
.col-box .bold-title{
   font-weight: 600;
   font-size: 16px;   
  padding:0px 6px;
}
.col-box .foodprice{
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
  padding: 5px 6px;
  color: tomato;
}

/* .col-box button:hover::after {
  opacity: 1;
} */
/* Cart section styling  */

.cart-section {
  position: relative;
  width: 300px;
  background-color: wheat;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.cart-section .cart-box .cart-head {
  font-size: 24px;
  line-height: 1.5;
  margin: 4px 0;
}

.cart-det {
  margin: 0;
  display: block;
}

.cart-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0 0 10px;
  background-color: #fff;
  padding: 6px;
  align-items: center;
}

.action-btn{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
  border: 1px solid red ;
  border-radius: 50%;
  display: flex;  
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.confirm-btn {
  width: 100%;
  padding: 6px;
  margin-top: 20px;
  display: block;
  color: red;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.total-container {
  display: flex;
  justify-content: space-between;
}

/* Modal styling  */
#modal {
  position: absolute;
  top: 15rem;
  left: 20rem;
  background-color: #fff;
  color: black;
  width: 400px;
  min-height: 300px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  opacity: 0;
  transition: opacity ease-in-out;
}

.modal .modal-container {
  padding: 6px 20px;
  width: 100%;
  min-height: 100%;
  max-height: 500px;
  position: relative;
}

.modal .modal-container .modal-head {
  margin: 10px 0;
}
.modal .modal-container .modal-head .modal-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 1px;
}

.modal .modal-container .modal-head .modal-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal .modal-container .modal-head .modal-title h3 {
  font-size: 20px;
  margin-top: 10px;
}

.modal .modal-container .modal-head .modal-title p {
  color: gray;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal .modal-container .modal-body {
  display: block;
  margin-top: 10px;
  /* padding: 4px; */
}

.modal .modal-container .modal-body .list-items {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 60px;
  padding: 8px;
  border-bottom: 1px solid red;
  align-items: center;
}

.modal .modal-container .modal-body .list-items img {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 6px;
}

.modal .modal-container .modal-body .list-items img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-item-total {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 20px 0 15px;
}

.modal-btn {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 0;
  margin: 0 auto 30px;
  display: block;
  background-color: tomato;
  color: #fff;
}

/* media Queries */
@media (max-width: 760px) {
  .container {
    margin: 0;
    height: 100vh;
    padding: 4px;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }

  .container .cart-container {
    position: relative;
    width: 100%;
  }

  .shopping-items {
    display: block;
  }

  .items-row {
    width: 100%;
    display: block;
    height: auto;
  }

  .col-box {
    width: 100%;
    height: 400px;
  }

  .col-box button {
    position: absolute;
    top: 165px;
    left:35%;
    height: 50px;
    padding: 8px;
  }

  .title {
    margin-top: 20px;
    padding: 4px;
    font-size: 16px;
  }

  .bold-title {
    font-weight: 600;
    font-size: 20px;
    padding: 4px;
  }

  .foodprice {
    color: red;
    font-size: 18px;
    padding: 4px;
  }

  .cart-section {
    width: 100%;
  }

  #modal {
    top: 10rem;
    left: 20px;
    width: 90%;
  }

  .modal-btn{
    width: 100%;
  }

}
